# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyc
.Python

# Entornos y configuración
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Bases de datos
*.db
*.sqlite
*.sqlite3
